Source: dnssec-root-key
Section: misc
Priority: optional
Maintainer: Ondřej Surý <ondrej@debian.org>
Build-Depends: debhelper (>= 8.0.0),
	       unbound-anchor,
	       openssl,
	       gnupg2,
	       bind9utils,
	       libxml2-utils
Standards-Version: 3.9.5
Homepage: https://data.iana.org/root-anchors/
#Vcs-Git: git://git.debian.org/collab-maint/dnssec-root-key.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dnssec-root-key.git;a=summary

Package: dnssec-root-key
Architecture: all
Depends: ${misc:Depends}, unbound-anchor
Description: DNSSEC root key (trust anchors)
 This package contains DNSSEC root key in all available formats that
 all packages doing DNSSEC validation can use as a common data source.
 .
 unbound-anchor is used to keep the root.key up-to-date
 via RFC5011 mechanism.
